@font-face {
  font-family: "MontserratMedium";
  src: url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MontserratRegular";
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MontserratBold";
  src: url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MontserratSemiBold";
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SansationBold";
  src: url("../fonts/SansationBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SansationRegular";
  src: url("../fonts/SansationRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.header {
  margin-bottom: 50px;
}
.header__logo {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
}

.navbar {
  z-index: 100;
  display: flex;
  padding: 10px 0;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  border-top: 30px solid #6125B0;
  background: #fff;
}

.logo {
  width: 100%;
}
.logo__block {
  max-width: 240px;
}
.logo__block--bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #7c30de;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px 0;
  transform: translateX(100%);
  z-index: 1000;
  transition: 0.4s ease-in-out;
}
.nav__link {
  color: #fff;
  font-size: 16px;
  font-family: SansationRegular;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.nav__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.nav__link:not(.active):hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.nav__link.active {
  border-bottom: 3px solid #fff;
}
.nav__call-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nav__btn {
  font-family: SansationBold;
  font-size: 20px;
  padding: 12px 40px;
  background: linear-gradient(193.98deg, #6125B0 48.69%, rgba(97, 37, 176, 0) 158.31%);
  border-radius: 10px;
  color: #ffffff;
  transition: 0.3s ease-in-out;
  margin-bottom: 20px;
}
.nav__btn:hover {
  background: transparent;
}

.nav.is-active {
  transform: translate(0);
}

.hamburger {
  z-index: 1001;
}

.call__num {
  display: inline-block;
  font-family: SansationRegular;
  color: #fff;
  margin-bottom: 15px;
}
.call__num:last-child {
  margin: 0;
}

.slider {
  margin-bottom: 50px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 700px;
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #6125B0;
}

.slide__info {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(123.86deg, rgba(97, 37, 176, 0.8) 34.93%, rgba(97, 37, 176, 0) 108.71%);
  border-radius: 20px;
  padding: 20px;
  margin: 0 20px 30px 20px;
}
.slide__title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
}
.slide__desc {
  font-family: MontserratMedium;
  font-size: 18px;
  color: #fff;
}

.about-company {
  text-align: center;
  margin-bottom: 60px;
}
.about-company__short-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 100px;
}
.about-company__video {
  margin-bottom: 30px;
}
.about-company__info {
  margin-bottom: 50px;
}
.about-company__images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}
.about-company__completion {
  margin-bottom: 50px;
}
.about-company__btn {
  padding: 15px 18px;
  font-family: SansationBold;
  font-size: 16px;
  background: linear-gradient(193.98deg, #6125B0 48.69%, rgba(97, 37, 176, 0) 158.31%);
  border-radius: 10px;
  color: #fff;
}

.short-info__item {
  text-align: center;
}
.short-info__iblock {
  max-width: 100px;
  min-height: 100px;
  margin-bottom: 20px;
  margin: 0 auto;
}
.short-info__icon {
  width: 100%;
  object-fit: cover;
}
.short-info__text {
  font-size: 20px;
  color: #000;
}

.info__text {
  font-family: MontserratRegular;
  color: #000;
  font-size: 18px;
}

.images__iblock {
  max-width: 420px;
}
.images__img {
  width: 100%;
  object-fit: cover;
}

.completion__text {
  font-family: MontserratRegular;
  color: #000;
  font-size: 18px;
}

.team {
  margin-bottom: 60px;
}
.team__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.team__card {
  background: linear-gradient(185.73deg, #6125b0 27.64%, rgba(97, 37, 176, 0) 217.97%);
  width: 315px;
  padding: 40px;
  text-align: center;
}
.team__card-iblock {
  max-width: 150px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.team__card-img {
  width: 100%;
  object-fit: cover;
}
.team__card-name {
  font-size: 20px;
  color: #fff;
  margin-bottom: 18px;
}
.team__card-prof {
  font-size: 16px;
  color: #fff;
}

.works {
  margin-bottom: 50px;
}
.works__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.works__card {
  max-width: 480px;
  position: relative;
}
.works__card-iblock {
  width: 100%;
  height: 100%;
}
.works__card-img {
  width: 100%;
}
.works__card-text {
  position: absolute;
  bottom: 30px;
  left: 20px;
  display: flex;
  flex-direction: column;
}
.works__card-title {
  font-size: 24px;
  color: #fff;
}
.works__card-shortdesc, .works__card-price {
  font-size: 16px;
  color: #fff;
  font-family: MontserratRegular;
}

.cards {
  margin-bottom: 50px;
}
.cards__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cards__card {
  max-width: 480px;
  position: relative;
}
.cards__card-iblock {
  width: 100%;
  height: 100%;
}
.cards__card-img {
  width: 100%;
}
.cards__card-text {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 5px 1px #6125b0;
  border-radius: 0px 0px 20px 0px;
  padding: 10px 20px;
  max-width: 302px;
}
.cards__card-title {
  font-size: 24px;
  color: #6125b0;
}
.cards__card-button {
  position: absolute;
  right: 0;
  bottom: 6px;
}
.cards__card-btn {
  background: linear-gradient(185.73deg, #6125b0 27.64%, rgba(97, 37, 176, 0) 217.97%);
  border-radius: 40px 0px 0px 0px;
  padding: 20px 25px;
  font-family: MontserratMedium;
  font-size: 22px;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: MontserratSemiBold, sans-serif;
  line-height: 1.5;
}
body.lock {
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

.wrapper {
  overflow: hidden;
  background: #fff !important;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 5px;
}

.title {
  font-size: 30px;
  margin-bottom: 50px;
  color: #000;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
