.footer {
  font-family: MontserratRegular;
  &__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }

  &__logo {
    width: 100%;
    object-fit: cover;
    &-content {
      max-width: 300px;
      text-align: center;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 30px;
      margin: 0 auto;
    }
    &-desc{
      margin-bottom: 30px;
    }
  }

  &__info{
    &-list{
      text-align: center;
    }
    &-item{
      margin-bottom: 20px;
    }
  }

  &__contact{
    &-item{
      display: flex;
      justify-content: center;
    }
    &-numbers{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &-links{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }
}
