.slider{
  margin-bottom: 50px;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 700px;
}
.swiper-pagination-bullet{
  background: #fff;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background: #6125B0;
}
.slide{
  &__info{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(123.86deg, rgba(97, 37, 176, 0.8) 34.93%, rgba(97, 37, 176, 0) 108.71%);
    border-radius: 20px;
    padding: 20px;
    margin: 0 20px 30px 20px;
  }
  &__title{
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
  }
  &__desc{
    font-family: MontserratMedium;
    font-size: 18px;
    color: #fff;
  }
}