.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  width: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet{
  background: #fff;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background: #6125B0;
}
.slide{
  &__info{
    position: absolute;
    bottom: 50px;
    left: 50px;
    background: linear-gradient(123.86deg, rgba(97, 37, 176, 0.8) 34.93%, rgba(97, 37, 176, 0) 108.71%);
    border-radius: 20px;
  }
}